@page "/modelsuccesfulyjoinedeventfemale"
@page "/modelsuccesfulyjoinedeventfemale/{id}"
@using Data.Models;
@using Logic.StaticResources;
@using Microsoft.AspNetCore.Components;
@using ModellenBureauBlazorVersion3.Client.DataServices;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
<style>
    img {
        transform: translate(450px, 100px);
        width: 300px;
    }

    span {
        display: inline-block;
        transform: translate(210px, 300px);
        color: gray;
    }

    a {
        display: inline-block;
        transform: translate(210px, 300px);
        color: gray;
    }
</style>
<img src="/Images/success-icon.png" />
<span>Succesfully registered </span>
<a @onclick="GoBack">Go back</a>
@code {
    [Inject]
    public IAdminDataService _adminDataService { get; set; }
    [Inject]
    public IClientDataService _clientDataService { get; set; }
    [Inject]
    public IEventDataService _eventDataService { get; set; }
    [Inject]
    public IFemaleModelDataService _femaleModelDataService { get; set; }
    [Inject]
    public IMaleModelDataService _maleModelDataService { get; set; }

    [Inject]
    public NavigationManager navmanager { get; set; }
    [Parameter]
    public string id { get; set; }

    public void GoBack()
    {
        navmanager.NavigateTo("/modelmainpage");
    }

    protected override async Task OnInitializedAsync()
    {
        if (GeneralStaticdata.currentfemalemodel != null)
        {
            var item = await _eventDataService.GetAllEvents();
            var chosenevent = item.Where(a => a.id == id).FirstOrDefault();
            chosenevent.FemaleModels.Add(GeneralStaticdata.currentfemalemodel);
            await _eventDataService.UpdateEventsModel(chosenevent);
        }
        else
        {
            navmanager.NavigateTo("/");
        }
    }
}
